<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://project-db-cgi.smhrd.com:3307/cgi_24K_bigdata26_p3_1"/>
        <property name="username" value="cgi_24K_bigdata26_p3_1" />
        <property name="password" value="smhrd1" />
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <!-- Mapper 파일 경로 -->
    <mapper resource="mybatis/mapper/UserMapper.xml"/>
  </mappers>
</configuration>