<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- 공통 설정 -->
    <settings>
        <!-- NULL 값을 위한 JDBC 타입 설정 -->
        <setting name="jdbcTypeForNull" value="NULL" />

        <!-- 자동 대소문자 매핑 활성화 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!-- 자동 생성 키 사용 설정 -->
        <setting name="useGeneratedKeys" value="true" />

        <!-- SQL 실행 시간 제한 (25초) -->
        <setting name="defaultStatementTimeout" value="25000" />

        <!-- 콘솔 로그 출력 설정 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>

    <!-- 데이터베이스 환경 설정 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://project-db-cgi.smhrd.com:3307/cgi_24K_bigdata26_p3_1?useUnicode=true&amp;characterEncoding=UTF-8" />
                <property name="username" value="cgi_24K_bigdata26_p3_1" />
                <property name="password" value="smhrd1" />
            </dataSource>
        </environment>
    </environments>

    <!-- Mapper 파일 경로 설정 -->
    <mappers>
        <mapper resource="com/scm/db/CustomerMapper.xml" />
        <mapper resource="com/scm/db/StockMapper.xml" />
        <mapper resource="com/scm/db/NewsMapper.xml" />
        <mapper resource="com/scm/db/RiskMapper.xml" />
    </mappers>

</configuration>
