<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scm.db.NewsMapper">

    <select id="getPositiveNews" resultType="com.scm.model.NewsDTO">
        SELECT NM.NEWS_ID, NM.TITLE, NM.CONTENT, NM.PUB_DATE, NM.SOURCE, NM.NEWS_API
        FROM NEWS_MAIN NM
        JOIN NEWS_SENTIMENT NS ON NM.NEWS_ID = NS.NEWS_ID
        WHERE NS.SENTIMENT >= 0.5
    </select>

    <select id="getNegativeNews" resultType="com.scm.model.NewsDTO">
        SELECT NM.NEWS_ID, NM.TITLE, NM.CONTENT, NM.PUB_DATE, NM.SOURCE, NM.NEWS_API
        FROM NEWS_MAIN NM
        JOIN NEWS_SENTIMENT NS ON NM.NEWS_ID = NS.NEWS_ID
        WHERE NS.SENTIMENT &lt; 0.5
    </select>

</mapper>