<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scm.db.RiskMapper">

    <resultMap id="RiskResultMap" type="com.scm.model.RiskDTO">
        <result property="RISK_SCORE" column="RISK_SCORE" javaType="java.math.BigDecimal"/>
        <result property="PREDICT_DATE" column="PREDICT_DATE" javaType="java.util.Date"/>
    </resultMap>

    <select id="getRiskByCompany" parameterType="String" resultMap="RiskResultMap">
        SELECT RISK_SCORE, PREDICT_DATE
        FROM RISK
        WHERE COMPANY_CODE = #{COMPANY_CODE}
          AND RISK_SCORE != 0
        ORDER BY PREDICT_DATE DESC
        LIMIT 6;
    </select>

</mapper>
