<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scm.db.RiskMapper">
<select id="getRiskByCompany" parameterType="String" resultType="com.scm.model.RiskDTO"> 
SELECT RISK_SCORE, PREDICT_DATE 
FROM RISK 
WHERE COMPANY_CODE = #{COMPANY_CODE} 
ORDER BY PREDICT_DATE DESC 
LIMIT 6; 
</select>
</mapper>