<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.scm.db.StockMapper">

    <!-- 회사 코드별 주식 종가 데이터 조회 (그래프용) -->
    <select id="getClosePriceByCompany" parameterType="String" resultType="com.scm.model.StockDTO">
        SELECT CLOSE, DATE
        FROM STOCK_PRICE
        WHERE COMPANY_CODE = #{COMPANY_CODE}
        ORDER BY DATE DESC
        LIMIT 8;
    </select>

</mapper>
