<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scm.db.SupplyMapper">

<!-- Supply 데이터 조회 (전체 목록) -->
<select id="getAllSupplies" resultType="com.scm.model.SupplyDTO">
	SELECT 
		SCM_IDX, SCM_KEY, PRODUCT, LOC_NAME, ISO,
		ADDRESS, STATE, LAT, LON
	FROM 
		SUPPLY_STOCK;
</select>

</mapper>