<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.MessageMapper">

	<!-- 메세지 추가를 위한 sql문장 -->
   <insert id="insertMessage" parameterType="com.smhrd.model.MessageDTO">
		insert into WEB_MESSAGE values(num_message.nextval, #{sendName}, #{receiveName}, #{message}, sysdate) 
   </insert>
   
   <!-- 로그인한 사용자의 메세지 읽기를 위한 sql문장 -->
   <select id="showMessage" parameterType="String" resultType="com.smhrd.model.MessageDTO">
   	SELECT * FROM WEB_MESSAGE WHERE RECEIVENAME=#{email}
   </select>

</mapper>


